* > * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	--font-main: "Lexend Deca", sans-serif;
	min-height: 100vh;

	font-family: var(--font-main);
	font-size: 15px;
	color: var(--white-500);

	background-color: var(--white-500);
}
